.course-page {
  display: inline-block;
  margin-bottom: 2%;
}

.reference {
  color: #808f87;
  font-size: 2rem;
  margin-top: 4%;
  margin-bottom: -0.5%;
}

.vid {
  color: #808f87;
  font-size: 2rem;
  margin-bottom: 3%;
  margin-top: 3%;
}

h1 {
  color: #56615b;
  font-size: 3rem;
  padding-top: 1%;
}

.screen-reader-text {
  border: 0;
  clip: rect(1px, 1px, 1px, 1px);
  -webkit-clip-path: inset(50%);
  clip-path: inset(50%);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  width: 1px;
}

body {
  font-family: sans-serif;
  background-color: #e2efde;
}

.js-nested-link {
  cursor: pointer;
}

.card {
  background-color: white;
  border: 1px solid #aaaaaa;
  border-radius: 10px;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  padding-bottom: 20px;
  max-width: 280px;
  margin: 20px;
}

.card__block {
  margin: 20px 20px 0;
}

.card__image {
  -webkit-box-ordinal-group: 0;
  -ms-flex-order: -1;
  order: -1;
  width: 100%;
}

.card__link {
  display: inline-block;
  text-decoration: none;
  background-color: #808f87;
  padding: 10px 15px;
  color: white;
  border-radius: 5px;
  -webkit-transition: background-color 0.3s;
  transition: background-color 0.3s;
}

.card__link:hover {
  background-color: #56615b;
}

.link-courses {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 10px;
  margin: 0 auto;
}

li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

iframe {
  border-radius: 5%;
}

.input-checkbox {
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding: 90px;
}

.search-container {
  width: 500px;
  display: block;
  margin: 0 auto;
}

input#search-bar {
  margin: 0 auto;
  width: 100%;
  height: 45px;
  padding: 0 20px;
  font-size: 1rem;
  border: 1px solid #d0cfce;
  outline: none;
}

input#search-bar:focus {
  border: 1px solid #008abf;
  -webkit-transition: 0.35s ease;
  transition: 0.35s ease;
  color: #008abf;
}

.iframes {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-flow: column;
  flex-flow: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin: 5%;
  margin-top: 2%;
}

.iframe-div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin: 1.5%;
  margin-left: 10%;
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  outline: 0;
  border: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  padding: 0 1em;
  color: #e2efde;
  background-color: #808f87;
  background-image: none;
  cursor: pointer;
}

select::-ms-expand {
  display: none;
}

.select {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 20em;
  height: 3em;
  border-radius: 0.25em;
  overflow: hidden;
  margin-bottom: 4%;
}

.select::after {
  content: "\25BC";
  position: absolute;
  top: 0;
  right: 0;
  padding: 1em;
  background-color: #afd0bf;
  pointer-events: none;
}

input[type="checkbox"] {
  height: 0;
  width: 0;
  visibility: hidden;
}

label {
  cursor: pointer;
  text-indent: -9999px;
  width: 80px;
  height: 40px;
  background: #56615b;
  display: block;
  border-radius: 40px;
  position: relative;
}

label:after {
  content: "";
  position: absolute;
  top: 2px;
  left: 2px;
  width: 36px;
  height: 36px;
  background: #fff;
  border-radius: 36px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

input:checked + label {
  background: #f4b266;
}

input:checked + label:after {
  left: calc(100% - 2px);
  -webkit-transform: translateX(-100%);
  transform: translateX(-100%);
}

label:active:after {
  width: 52px;
}
