body {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #D7CEC7;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 90vh;
}

.form {
  background-color: #C09F80;
  border-radius: 20px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  height: 55vh;
  padding: 20px;
  width: 60vh;
}

.form2 {
  background-color: #C09F80;
  border-radius: 20px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  height: 65vh;
  padding: 20px;
  width: 60vh;
}

.title {
  color: #15172b;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 36px;
  font-weight: 600;
  margin-top: 30px;
}

.subtitle {
  color: #15172b;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  font-weight: 600;
  margin-top: 10px;
}

.input-container {
  height: 50px;
  position: relative;
  width: 100%;
}

.ic1 {
  margin-top: 40px;
}

.ic2 {
  margin-top: 30px;
  margin-bottom: 30px;
}

.input {
  background-color: #15172b;
  border-radius: 12px;
  border: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: #eee;
  font-size: 18px;
  height: 100%;
  outline: 0;
  padding: 4px 20px 0;
  width: 100%;
}

.cut {
  background-color: #C09F80;
  border-radius: 10px;
  height: 20px;
  left: 20px;
  position: absolute;
  top: -20px;
  -webkit-transform: translateY(0);
          transform: translateY(0);
  -webkit-transition: -webkit-transform 200ms;
  transition: -webkit-transform 200ms;
  transition: transform 200ms;
  transition: transform 200ms, -webkit-transform 200ms;
  width: 76px;
}

.cut-short {
  width: 50px;
}

.cut-big {
  background-color: #C09F80;
  border-radius: 10px;
  height: 20px;
  left: 20px;
  position: absolute;
  top: -20px;
  -webkit-transform: translateY(0);
          transform: translateY(0);
  -webkit-transition: -webkit-transform 200ms;
  transition: -webkit-transform 200ms;
  transition: transform 200ms;
  transition: transform 200ms, -webkit-transform 200ms;
  width: 115px;
}

.input:focus ~ .cut,
.input:not(:placeholder-shown) ~ .cut {
  -webkit-transform: translateY(8px);
          transform: translateY(8px);
}

.input:focus ~ .cut-big,
.input:not(:placeholder-shown) ~ .cut-big {
  -webkit-transform: translateY(8px);
          transform: translateY(8px);
}

.placeholder {
  color: #565656;
  font-family: Arial, Helvetica, sans-serif;
  left: 20px;
  line-height: 14px;
  pointer-events: none;
  position: absolute;
  -webkit-transform-origin: 0 50%;
          transform-origin: 0 50%;
  -webkit-transition: color 200ms, -webkit-transform 200ms;
  transition: color 200ms, -webkit-transform 200ms;
  transition: transform 200ms, color 200ms;
  transition: transform 200ms, color 200ms, -webkit-transform 200ms;
  top: 20px;
}

.input:focus ~ .placeholder,
.input:not(:placeholder-shown) ~ .placeholder {
  -webkit-transform: translateY(-30px) translateX(10px) scale(0.75);
          transform: translateY(-30px) translateX(10px) scale(0.75);
}

.input:not(:placeholder-shown) ~ .placeholder {
  color: #15172b;
}

.input:focus ~ .placeholder {
  color: #15172b;
}

.button {
  background-color: #565656;
  font-family: Arial, Helvetica, sans-serif;
  border-radius: 12px;
  border: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: #15172b;
  cursor: pointer;
  font-size: 18px;
  height: 50px;
  margin-top: 20px;
  text-align: center;
  width: 100%;
}

.submit:active {
  background-color: #06b;
}
/*# sourceMappingURL=login.css.map */