footer {
  background-color: #3a413e;
  height: 5%;
  bottom: 0px;
  left: 0px;
  line-height: 4vh;
  color: #fcf6f6;
  text-align: center;
  width: 100%;
  color: #e2efde;
  font-family: sans-serif;
}

footer a,
footer a:visited {
  color: #e2efde;
}

footer a:hover {
  color: #afd0bf;
}
