body {
    font-family: sans-serif;
    background-color: #E2EFDE;
    align-content: center;
    align-items: center;
    margin-left: 3%;
    margin-right: 3%;
    margin-top: 2%;
    padding-bottom: 5%;
}