body {
    font-family: sans-serif;
    background-color: #E2EFDE;
    align-content: center;
    align-items: center;
    padding-left: 3%;
    padding-right: 3%;
    padding-top: 1%;
    padding-bottom: 5%;
    color: #54635D;
}

.text-link{
    color: #54635D;
}